<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LinhKa1</key>
	<string>1.jpg</string>
	<key>LinhKa2</key>
	<string>2.jpg</string>
	<key>LinhKa3</key>
	<string>3.jpg</string>
	<key>LinhKa4</key>
	<string>4.jpg</string>
	<key>LinhKa5</key>
	<string>5.jpg</string>
	<key>LinhKa6</key>
	<string>6.jpg</string>
	<key>LinhKa7</key>
	<string>7.jpg</string>
	<key>LinhKa8</key>
	<string>8.jpg</string>
	<key>LinhKa9</key>
	<string>9.jpg</string>
	<key>LinhKa10</key>
	<string>10.jpg</string>
</dict>
</plist>
