<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>English4Kids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAE6D4AF215B7264008E6F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE6D4C3215B7264008E6F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE6D4CE215B7264008E6F18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
